<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    
  <application>
    <!-- Konfigurasi Xposed -->
    <meta-data android:name="xposedmodule"        android:value="true" />
    <meta-data android:name="xposeddescription"   android:value="Redirect Harpa Camera Hook" />
    <meta-data android:name="xposedminversion"    android:value="82" />
    <meta-data android:name="xposedmodule_author" android:value="bhactea" />
    <meta-data android:name="xposedmodule_main"   android:value="com.bhakti.redirectcamera.MainHook" />
  </application>

</manifest>
