<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >
    <application
        android:name="com.bhakti.redirectcamera.MainApplication"
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:usesCleartextTraffic="false"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">    <!-- Pastikan '>' di sini menutup tag -->

        <activity
            android:name="com.bhakti.redirectcamera.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
